.User {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 10px;

    border: 1px solid black;
}

.User p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.User p:nth-child(2) {
    font-size: 16px;
}

.User button {
    padding: 10px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    border: 1px solid black;
    border-radius: 10px;

    cursor: pointer;
}