.Posts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Posts_container > h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.Posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}