.Comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Comments h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.Comments_block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}